div{
    height:100px;
    width:100px;
    display:inline-block;
    background-color: aqua;
    border:2px solid black;

}
/* body{
    background-image: url("deer_photo.jpg");
     background-size: cover; 
     background-size: contain; 
   
} */
#box1{
    background-image: url("deer_photo.jpg");
    background-size: cover; 
    /* background-size: contain;
    background-repeat:no-repeat ; */
}
